# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://plixcrubddvexcdynldx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_hWb2s763rgwzgDyi7DbWgw_ZvxDVpss
SUPABASE_SERVICE_ROLE_KEY=postgresql://postgres:[YOUR-PASSWORD]@db.plixcrubddvexcdynldx.supabase.co:5432/postgres

# Midtrans
MIDTRANS_SERVER_KEY=SB-Mid-server-xxxxxxxx
MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxxxxxx
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxxxxxx
MIDTRANS_IS_PRODUCTION=false

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_TOURNAMENT_NAME=ML Championship 2026
NEXT_PUBLIC_TOURNAMENT_DATE=2026-08-22
NEXT_PUBLIC_REGISTRATION_FEE=50000
NEXT_PUBLIC_MAX_SLOTS=64
NEXT_PUBLIC_WHATSAPP_NUMBER=6281234567890

# Admin
ADMIN_USERNAME=admin
ADMIN_PASSWORD=your-secure-password
NEXTAUTH_SECRET=your-nextauth-secret
